// index.pug

doctype html
html
    head
        title Toad Alerts
    style
        include ./style.css
    body

        h1 Toad Alerts ©
        h3 your home for toad!
        - let n = 5
        each image in images
            img(src=image class="frog" style=`animation: moveX ${n}s linear 0s infinite alternate, moveY ${n + 1.3}s linear 0s infinite alternate;`)
            - n += 0.5