// index.pug

doctype html
html
    head
        title Toad Alerts
    style
        include ./style.css
    body
        each image in images
            - var randNum_V = Math.round(Math.random() * 1000);
            - var randNum_H = Math.round(Math.random() * 1000);
            img(src=image class="frog" style=`animation: moveX 5s linear 0s infinite alternate, moveY 5s linear 0s infinite alternate; position: relative; top: ${randNum_V}px; left: ${randNum_H}px;`)